<div>
  <h2>Student List</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Branch</th>
      <th>Actions</th>
    </tr>
    @for (student of students; track $index) {
      <tr>
        <td>{{ student.studentName }}</td>
        <td>{{ student.studentEmail }}</td>
        <td>{{ student.studentBranch }}</td>
        <td>
          <button (click)="deleteStudent(student.studentId)">Delete</button>
          <a [routerLink]="['/edit', student.studentId]">Edit</a>
        </td>
      </tr>
    } @empty {
      <h1>EMPTY LIST</h1>
    }
  </table>
  <a routerLink="/create">Create New Student</a>
</div>
